# Node modules
node_modules/

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Environment variables
.env
.env.*

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp

# Others
*.tgz
*.zip
*.rar
*.tar
*.gz
*.lock
